<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Connect to MySQL Port 3306 -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/romeFood_database</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Hibernate setting -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.hbm2ddl.auto"> update </property>

        <!-- Entities -->
        <mapping class="com.ap.project.entity.user.User"/>
        <mapping class="com.ap.project.entity.user.Courier"/>
        <mapping class="com.ap.project.entity.user.Customer"/>
        <mapping class="com.ap.project.entity.user.Seller"/>
        <mapping class="com.ap.project.entity.general.BankAccount"/>
        <mapping class="com.ap.project.entity.restaurant.Restaurant"/>
        <mapping class="com.ap.project.entity.restaurant.Food"/>
        <mapping class="com.ap.project.entity.restaurant.Menu"/>
        <mapping class="com.ap.project.entity.restaurant.Order"/>
        <mapping class="com.ap.project.entity.restaurant.OrderItem"/>
        <mapping class="com.ap.project.entity.restaurant.Rating"/>
        <mapping class="com.ap.project.entity.general.Transaction"/>
        <mapping class="com.ap.project.entity.general.Wallet"/>

    </session-factory>
</hibernate-configuration>
